dist: trusty
language: node_js
node_js:
  - 9
cache:
  directories:
    - node_modules
install:
  - yarn install
before_script:
  - yarn test
script:
  - yarn build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: dist
  on:
    branch: master
