@import "../../style/utils/variables";
@import "../../style/utils/functions";
@import "../../style/utils/mixins";

.container {
  position: relative;

  display: inline-block;
  overflow: hidden;

  cursor: pointer;

  &:hover .overlay {
    transform: translateY(0);
  }
}

.overlay {
  transition: transform 0.3s $primaryEasing;
  transform: translateY(-100%);

  background-color: rgba(black, 0.6);

  @include overlay;
}

.vote {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 40px;

  background-color: rgba(black, 0.6);

  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  padding: 0 15px;

  transform: translateY(-50%);
  text-align: center;

  color: white;
}

.short-info {
  font-size: 12px;

  padding: 10px 15px;

  color: #efefef;
}
