$headerHeight: 64px;
$footerHeight: 69px;

.content {
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  margin-top: $headerHeight;
  padding: 0 50px;

  > * {
    height: 100%;

    background-color: white;
  }
}

.footer {
  height: $footerHeight;

  text-align: center;
}
