.container {
  position: fixed;
  z-index: 1;

  display: flex;

  width: 100%;

  background-color: white !important;
  box-shadow: 0 2px 2px -2px #cfcfcf;

  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
}
